<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ficha de Personagem - Tormenta 20</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=MedievalSharp&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="/static/estilos.css">
</head>

  <style>
    @font-face {
      font-family: 'Tormenta';
      src: url('./static/fonts/Tormenta.ttf') format('truetype');
    }
  </style>
  
  <header class="header-tormenta">
    <h1 class="titulo">Ficha Tormenta 20</h1>
  </header>
  </br>
  <body class="website">
    {% block content %}{% endblock %}
  </main>
  <script src="/static/script.js"></script>
  <script src="/static/atributos.js"></script>
</body>
</html>
